<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
    <title>Rango</title>
</head>
    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page! <br />
        </div>
        <div>
            <a href="/">Main</a><br />
            <img src="{% static "images/rango2.jpeg" %}" alt="Picture of Rango" />
        </div>
        <h2>This tutorial has been put together by Arturo & Gonzalo</h2>
        <img src="{{ MEDIA_URL}}cat.gif">
    </body>
</html>
