<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if category %}
        <h1>{{ category_name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
        
	    {% if user.is_authenticated %}
        <br /><a href="/rango/add_page/{{ category_slug }}/">Add a New Page</a><br />
        {% else %}
        Rango says: <strong>To add new pages you'll need to register!</strong><br />
        {% endif %}
    </body>
</html>
