<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Rango</title>
</head>

<body>
	{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
		<h1>Rango says... hello world!</h1>
	{% endif %}

	<div>
	{% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

<!--	<div>
		<a href="/rango/about/">About Rango</a><br />
		<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
	</div>
-->
{% if user.is_authenticated %}
<a href="/rango/restricted/">Restricted Page</a><br />
<a href="/rango/logout/">Logout</a><br />
<a href="/rango/add_category/">Add a New Category</a><br />
{% else %}
<a href="/rango/register/">Register Here</a><br />
<a href="/rango/login/">Login</a><br />
{% endif %}

<a href="/rango/about/">About</a><br/>

</body>
</html>
