body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(51, 0, 88, 0.69);
    text-align: center;
    font-size: 50px;
}

#title img:nth-child(1){
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#title img:nth-child(2){
    float: right;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#title h1, #title a{
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #fff;
}

#header{
    margin-top: 70px;
    position: absolute;
    float: left;
    width: 100px;
    height: calc(100% - 96px);
    border-right: solid 2px #ddd;
    text-align: left;
}

#header h2{
    padding-top: 10px;
    text-align: center;
}

#header h3{
    text-align: center;
    background-color: rgba(51, 0, 88, 0.69);
    color: #fff;
    margin: 10px 2px;
    border-radius: 10px;
}

#header a{
    display: block;
    color: #0645AD;
    padding: 5px;
}

#content{
    margin-top: 80px;
    position: absolute;
    float: left;
    right: 0;
    width: calc(100% - 105px);
    height: calc(100% - 106px);
    border-right: solid 2px #ddd;
    text-align: center;
    font-size: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width:100%;
    text-align: center;
    font-size: 15px;
    border-top: solid 1px #000;
    padding-top: 5px;
}

#user_form{
    text-align: left;
    font-size: 15px;
}

table{
    border-spacing:0;
    border-collapse: collapse;
    border: solid 1px #000;
    margin: 0 auto;
}
table tr td{
    background: #fff;
}
table tr:nth-child(odd) td:nth-child(even){
    background: #000;
}
table tr:nth-child(even) td:nth-child(odd){
    background: #000;
}

table img{
    width: 80%;
    height: 80%;
    margin: 10%;
}

table {
    width: 90%;
}
td {
    width: 12.5%;
    position: relative;
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
}
td .contenido {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h4{
    text-align: center;
    color: green;
    font-size: 20px;
}

h5{
    text-align: center;
    color: red;
    font-size: 20px;
}
