<!DOCTYPE html>
<html>
    <head>
        <title>RatonGato</title>
    </head>

        <h1>Join Game</h1>

        {% if thereIsGame %}
        You have joined the game with id: {{game.id}}<br />
        players are {{game.houndUser.username}} and {{game.foxUser.username}} <br />
        with IDs {{game.houndUser.id}} and {{game.foxUser.id}} respectively<br />
        {% else %}
        {{error}}<br />
        {% endif %}
    <a href="/server/index">Index</a>
    </body>
</html>
