{% load staticfiles %}

<html>
<head>
    <!-- Some stuff here which should be included in all templates for example js or css -->
    {% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/reset.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/css.css" %}" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto" rel="stylesheet">
    {% endblock extra_css %}

    {% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/js.js" %}"></script>
    {% endblock extra_js %}

    {% block extra_head %}
    <meta charset="UTF-8">        
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- <link rel="shortcut icon" href="img/logo.png"> -->
    {% endblock extra_head %}
    <title>{% block title %}Hound & fox{% endblock %}</title>

</head>

<body onload="adjust()" onresize="adjust()">

<!-- an icon and application name goes here -->
<div id="title">
    {% block atitle %}
    <a href="/server/index">
        <img src="{% static "img/hound.png" %}" alt="hound" />
        <img src="{% static "img/fox.png" %}" alt="fox" />
        <h1>Hound & fox</h1>
    </a>
    {% endblock atitle %}
</div>

<div id="header">
    {% block menu %}
    {% if username %}
        <h2>Logged in as:</h2>
        <h3>{{ username }}</h3>
        <a href="/server/">Back to game</a>
        <a href="/server/logout_user/">Logout</a>
    {% else %}
        <a href="/server/login_user/">Login</a>
        <a href="/server/register_user/">Register</a>
    {% endif %}
    {% endblock menu %}
</div>

{% block content %}
<div id="content">
    <img src="{% static "img/hound.png" %}" alt="hound" />
    Please login to play
    <img src="{% static "img/fox.png" %}" alt="fox" />
</div>
{% endblock content %}


{% block footer %}
<div id="footer">
    copyrigth 2016 by Arturo Blázquez Pérez & Gonzalo Ruiz Oriol
</div>
{% endblock footer %}

</body>
</html>
