{% extends "server/base.html" %}
{% load staticfiles %}

{% block content %}
<div>       
    <div id="content">
        Waiting for fox
    </div>
    
    <script type="text/javascript">
        iamhound = true;
        myturn = true;
        refresh_hound();
        refresh_turn();
        
        function getID(oObject) {
            var id = oObject.id;
            id = id.substr(3);
            if(myturn==true){
                if(lastUsed==-1){
                    lastUsed = id;
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/server/move/",
                        data: {
                            'origin': lastUsed,
                            'target': id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        success: function (data) {
                            if(data=="Move done"){
                                myturn=false;
                                lastUsed=-1;
                                refresh();
                            } else {
                                alert(data);
                                lastUsed=-1;
                            }
                        },
                        error: function(errMsg) {
                            alert(errMsg);
                        }
                    });
                }
            }
        }
    </script>
</div>
{% endblock content %}
