{% extends "server/base.html" %}
{% load staticfiles %}

{% block content %}
<div>       
    <div id="content">
        Waiting for a game
    </div>
    
    <script type="text/javascript">
        iamhound = false;
        myturn = false;
        refresh_fox();
        refresh_turn();
        
        function getID(oObject) {
            var id = oObject.id;
            id = id.substr(3);
            if(myturn==true){
                $.ajax({
                    type: "POST",
                    url: "/server/move/",
                    data: {
                        'origin': 1,
                        'target': id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function (data) {
                        if(data=="Move done"){
                            myturn=false;
                            refresh();
                        } else {
                            alert(data);
                        }
                    },
                    error: function(errMsg) {
                        alert(errMsg);
                    }
                });
            }
        }
    </script>
</div>
{% endblock content %}
