{% load staticfiles %}

{% if board %}
    <table>
    {% for item in board %}
        {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            <td id=id_{{ forloop.counter0}} onclick="getID(this);" >
            {% if item ==  0 %} </td>
            {% elif item == 1 %} <img class="contenido" src="{% static "img/hound.png" %}" alt="hound"></td>
            {% else %} <img class="contenido" src="{% static "img/fox.png" %}" alt="fox"></td>
            {% endif %}
        {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
    {% endfor %}
    </table>
    
    {% if myTurn == True %}
        <h4>It is your turn<h4>
    {% else %}
        <h5>It is NOT your turn<h5>
    {% endif %}
{% else %}
    empty board
{% endif %}
