{% extends "server/base.html" %}
{% load staticfiles %}

{% block content %}     
<div id="content">
    <strong>Dear {{usernameout}} you have been logged out</strong><br />
    <a href="/server/index">Index</a>
</div>
{% endblock content %}
