{% extends "server/base.html" %}
{% load staticfiles %}

{% block content %}     
<div id="content">
    Please login <a href="/server/login_user/">here</a><br />
    <a href="/server/index">Index</a>
</div>
{% endblock content %}
