{% extends "server/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="content">     
    <strong>Register here!</strong><br /><br />

    <form id="user_form" method="post" action="/server/register_user/">
        {% csrf_token %}
        {{ user_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    <a href="/server/index">Return to the homepage.</a>
</div>
{% endblock content %}
